<div ng-controller='ResidenceCtrl'>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">거주만족도 조사</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    대중교통 만족도
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-traffic-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    상업시설 만족도
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-commercial-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
        <!-- /.col-lg-6 -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    여가환경 만족도
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-leisure-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    녹지 만족도
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-green-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    거주하는 주거면적
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>